.main{
	width:1000px;
	height:500px;
	margin:0 auto;
	border-bottom:1px solid #808080;
	padding-bottom:10px; 
}

/* left part in middle user register and login*/
.reg_login{
	width:200px;
	height:500px;
	float:left;
}

.banner1{
	width:795px;
	float:left;
	margin-left:5px;
	text-align:center;
}

 /*introduction for SmileTalk*/
.intro{
	float:left;
	margin-left:60px;
    width:560px;
}

/*submit button*/
.sub{
	width:189px;
	height:35px;
	background-image:url(/SmileTalk/images/front/Login.jpg);
	
}

/* second register entrance*/
.reg2{
	float:left;
	width:150px;
	text-align:center;	
    margin-top:20px;
}

/*Left Login*/
.logForm{
	margin-left:20px;
	margin-top:20px;
	line-height:45px;
	border-bottom:1px solid #808080;
	padding-bottom:10px;
}

.reg,.mobile_login{
	margin-left:20px;
	margin-top:10px;
	line-height:17px;	
	padding-bottom:10px;
}








