<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

<context:annotation-config/> 
<!--<context:component-scan base-package="com"/>-->
<!-- databaseSource -->
<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
	    <property name="url" value="jdbc:mysql://mysql.cc.puv.fi:3306/e1100582_SEP"/>
	    <property name="username" value="e1100582"/>
	    <property name="password" value="TXex5MpquJJd"/>
	     <!-- initial -->
	<property name="initialSize" value="3"/>
	 <!-- max -->
	 <property name="maxActive" value="500"/>
     <!-- max free -->
	<property name="maxIdle" value="2"/>
	<!--  min free-->
	<property name="minIdle" value="1"/>
</bean>


<!-- sessionFactory -->
<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
     <property name="dataSource" ref="dataSource"/>
     <property name="mappingResources">
	    <list>
	      <value>com/smiletalk/domain/City.hbm.xml</value>
	      <value>com/smiletalk/domain/Country.hbm.xml</value>
	      <value>com/smiletalk/domain/University.hbm.xml</value>
	      <value>com/smiletalk/domain/User.hbm.xml</value>
	      <value>com/smiletalk/domain/UserNet.hbm.xml</value>
	      <value>com/smiletalk/domain/UserUniversity.hbm.xml</value>
	      <value>com/smiletalk/domain/Album.hbm.xml</value>
	      <value>com/smiletalk/domain/Photo.hbm.xml</value>
	      <value>com/smiletalk/domain/PhotoComment.hbm.xml</value>
	    </list>
     </property>
     <property name="hibernateProperties">
	    <value>
	        	hibernate.dialect=org.hibernate.dialect.MySQLDialect
	        	hibernate.hbm2ddl.auto=update
				hibernate.show_sql=false
				hibernate.format_sql=false	      
	  </value>
    </property>
</bean>

<!-- service object -->

<bean id="testService" class="com.smiletalk.service.TestService">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<bean  id="countryServiceImpl" class="com.smiletalk.service.impl.CountryServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean> 
<bean id="cityServiceImpl" class="com.smiletalk.service.impl.CityServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="universityServiceImpl" class="com.smiletalk.service.impl.UniversityServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="userServiceImpl" class="com.smiletalk.service.impl.UserServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="userUniversityServiceImpl" class="com.smiletalk.service.impl.UserUniversityServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>
<bean id="albumServiceImpl" class="com.smiletalk.service.impl.AlbumServiceImpl">
<property name="sessionFactory" ref="sessionFactory"></property>
</bean>

<!-- action setting -->
<bean name="/test" class="com.smiletalk.web.action.TestAction"/>
<bean name="/register" class="com.smiletalk.web.action.RegisterAction">
<property name="countryService" ref="countryServiceImpl"/>
<property name="cityService" ref="cityServiceImpl"/>
<property name="universityService" ref="universityServiceImpl"/>
<property name="userService" ref="userServiceImpl"/>
<property name="userUniversityService" ref="userUniversityServiceImpl"/>
</bean>
<bean name="/profile" class="com.smiletalk.web.action.ProfileAction">
<property name="userService" ref="userServiceImpl"/>
</bean>

<bean name="/login" class="com.smiletalk.web.action.LoginAction">
<property name="userService" ref="userServiceImpl"/>
</bean>

<bean name="/album" class="com.smiletalk.web.action.AlbumAction">
<property name="albumService" ref="albumServiceImpl"/>
</bean>

<!-- tx Manager -->
<bean id="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
  	<property name="sessionFactory" ref="sessionFactory"/>
</bean>
<tx:annotation-driven transaction-manager="txManager"/>
</beans>